body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav a{
  background-color: lightblue;
}

figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
}

#details{
  display: flex;
  align-items: center;
  justify-content:space-around;
  text-align: center;
  background-color: lightslategrey;
}
